QPushButton#plotBtn {
color: rgb(250, 250, 250);
background-color: #008E81;
border-radius: 55px;
border: #008E81;
}
QPushButton#plotBtn:pressed {
background-color: #008E81;
color: rgb(250, 250, 250);
border-radius: 55px;
border: 2px solid rgb(250, 250, 250);
}
QPushButton#plotBtn:hover {
background-color: #008E81;
color: rgb(250, 250, 250);
border: 2px solid rgb(213, 213, 213);
}