QPushButton#plotBtn {
color: rgb(250, 250, 250);
background-color: rgb(32, 176, 67);
border-radius: 55px;
border: #008E81;
border-style: outset;
border-width: 2px;
border-radius: 10px;
border-color: beige;
font: bold 14px;
min-width: 5em;
padding: 6px;
}

QPushButton#plotBtn:hover {
color: rgb(32, 176, 67);
background-color: rgb(250, 250, 250);
border: 2px solid rgb(213, 213, 213);
}

QPushButton#plotBtn:pressed {
background-color: #ff3f50;
}