QPushButton#quitBtn {
color: rgb(250, 250, 250);
background-color: #008E81;
border-radius: 55px;
border: #008E81;
}
QPushButton#quitBtn:pressed {
background-color: #ff3f50;
color: rgb(250, 250, 250);
border-radius: 55px;
border: 2px solid rgb(250, 250, 250);
}
QPushButton#quitBtn:hover {
background-color: #ff3f50;
color: rgb(250, 250, 250);
border: 2px solid rgb(213, 213, 213);
}