QPushButton#selectFileBtn {
color: rgb(250, 250, 250);
background-color:rgb(32, 176, 67);
border-radius: 55px;
border: #008E81;
border-style: outset;
border-width: 2px;
border-radius: 10px;
border-color: beige;
font: bold 14px;
min-width: 5em;
padding: 6px;
}

QPushButton#selectFileBtn:hover {
color: rgb(32, 176, 67);
background-color: rgb(250, 250, 250);
}

QPushButton#selectFileBtn:pressed {
background-color:rgb(32, 176, 67);
color: rgb(250, 250, 250);
}