QPushButton#clearPlotBtn {
color: #008E81;
background-color: rgb(250, 250, 250);
border-radius: 55px;
border: #008E81;
border-style: outset;
border-width: 2px;
border-radius: 10px;
border-color: beige;
font: bold 14px;
min-width: 5em;
padding: 6px;
}

QPushButton#clearPlotBtn:hover {
background-color: #008E81;
color: rgb(250, 250, 250);
border: 2px solid rgb(213, 213, 213);
}

QPushButton#clearPlotBtn:pressed {
background-color: #ff3f50;
}
